$green-phosphor: #3f3;

.character-sheet {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
  max-width: 75%;

  input {
    all: unset;
    text-align: left;
    max-width: fit-content;
		caret-color: $green-phosphor;
  }

  .delta-green-display {
    white-space: pre-wrap;
    padding-bottom: 1.5rem;
  }
}
