.stat-row {
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;

	.number {
		width: 5rem;
	}

	.buttons {
		width: 4rem;
		padding-right: 2rem;

		button {
			all: unset;
			user-select: none;
		}
	}

	.percentile {
		width: 3rem;
		padding-right: 2rem;
	}
}